/***FONTS***/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

path.twitter{
    fill:#1DB954;
}
p{
    font-family: 'Roboto', sans-serif;
    
    line-height: 1.5;
}
/******** GLOBAL *******/
a{
    text-decoration: none;
    color:inherit;
    
}

*{
    box-sizing:border-box;
}


/*** ABOUT ME ***/
.aboutme{
    display:flex;
    flex-flow: row wrap;
    padding:2rem;
    justify-content: space-around;
    align-items: center;
    background-color: #323232;
    color:white;
}

.aboutme-pic{
    
    /* background-image: url("assets/guilherme.jpg");
    background-size:cover; */
    height:20rem;
    width:20rem;
    
    border-radius: 100%;
    box-shadow: 10px 5px 15px black;

    
}
.aboutme-pic img{
    max-width:100%;
    max-height:100%;
    border-radius: 100%;
}


.aboutme-text{
    
    width:50vw;
}
.aboutme-text h3{
    font-weight: 600;
    font-size:2rem;
    margin:0.5em 0;
}

/***HOBBY-TOP5 SECTION***/
.hobby-top{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-around;
    padding:1em 3em
}

#hobbies{
    text-align: end;
}


.hobby-top{
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #E8E8E8;
    
}

.hobby-top h3{
    font-size: 1.5rem;
}
.container{
    margin:3em 0.1em;
}

.container ul, .container ol{
    
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
}


.container li{
    position:relative;
    background-color: white;
    text-align: center;
    display:flex;
    flex-flow:column wrap;
    justify-content: end;
    align-items: stretch;
    width:6.5em;
    height:10em;
    margin:10px;
   
    border-radius: 5%;
    box-shadow: 2px 1px 5px;
    transition:all 0.75s;
    
}
.container li:hover{
    transform: scale(1.5);
    z-index:2;
}
.container li img{
    
    width:100%;
    height:70%;
    border-radius: 5%;
}

.container h4{
    padding:0.5em;
    text-align:center;
    height:3em;
}

.selo{
    font-weight: 700;
    color:white;
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    position:absolute;
    background-color:red;
    top:0%;
    left:5%;
    width:1.1em;
    height:2em;
    border-radius:10%;
}

/****FOOTER*****/

footer{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
    width:auto;
    background-color: black;
    padding:2em;
}   

footer .social{
    display:flex;
    justify-content: center;
    align-items: start;
}

.icon:hover{
    transform: scale(1.25);
}

.btn{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    width:10.1em;
    height:2.4em;
    color:white;
    background-color: #1DB954;
    border-radius:5%;
    
}

.btn p{
    font-weight: 700;
}
.btn:hover{
    color:black;
    background-color: #19a048;
}
/***********  NAV BAR E MENU ********************/


header{
    width:auto;
}
header .logo{
    
    padding:0.5rem;
    
    font-size:1.5rem;
    /* transition:all 1s; */
}

.song{
    width:25em;
    
    height:2em;
}
/* .logo:hover{
    color:black;
    transform:scale(1.25);
} */


nav{
    padding:1.5rem;
    background-color: #1DB954;
    color:snow;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* nav a{
    text-decoration: none;
    color:inherit;
    
} */


nav ul{
    list-style-type:none;
    display:flex;
    
    
    align-items: center;
    
    padding:1em;
}

nav ul li{
    position:relative;
    color:white;
    display:inline-flex;
    margin:0.3em 1em;
    font-size:1.25rem;
    font-weight: 600;
}

.nav-link::after {
    content:'';
    height:2px;
    width:100%;
    background-color: black;
    
    position: absolute;
    left:0;
    bottom:-8px;
    opacity:0
}

.nav-link:hover::after{
    opacity:1;
    transition:all 0.5s;
    pointer-events: none;
}

nav ul li:hover{
    color:black;
}

@media(max-width: 1340px){

    /****GLOBAL****/
    p{

        
        font-size:1.1rem;
    }
    /******** NAV MENU *********/
    nav{
        flex-direction: row;
        flex-wrap:wrap;
        margin-left: 0;
        margin-right: 0;
    }

    nav ul{
        display: block;
        
    }

    nav ul:last-child{
        width:100%;
        flex-basis:100%;
        
    }

    nav ul li {
       
        margin-bottom:0;
        width:100%;
        text-align:right;
        padding:0.5em;
    }

    input[type='checkbox']:not(:checked)+ul{
        display:none;
    }

   #ham{
    fill:white;
   }
    /* .hamburger svg:{
            width:3rem;
            height:3rem;
            background-color: red;
            border:5px solid black;
            border-radius:25%;
        
    } */
    nav label{
        text-align:right;
        display: block;
        padding:0.5em;
        line-height: 1.6em;
        align-self:center;
    }
    nav input[type='checkbox']{
        display: none;
    }

    /*******ABOUT ME******/
    
    .aboutme-text{
    
        width:auto;
    }

    /** hobby-top **/
    #hobbies, #top{
        text-align: start;
        margin:0.5em 0.75em;
    }
    
    footer{
        flex-flow:column wrap;
        justify-content: center;
        width:auto;
    }

    footer .social{
        margin-bottom:1em;
    }

    .song{
        display:none;
    }
}
@media(min-width:1341px){
    nav input[type='checkbox'], nav label{
        display: none;
    }

    .aboutme-pic{
         transform:translateX(5vw); 
    }
}

